#header {
    position: fixed;
    top: 0;
    min-height: 75px;
    width: 100%;
    margin-top: 0.03%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dedbd7;
    border-radius: 40px 40px 0px 0px;
    border: solid;
    border-width: 0.05em;
}

@media (max-width: 600px) {
    #header {
        flex-wrap: wrap;
    }
}

#navbar {
    font-weight: 400;
}

@media (max-width: 650px) {
    #navbar {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    #navbar #linav {
      padding-bottom: 5px;
    }
  }

  #ulnav {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  #ulnav {
  @media (max-width: 650px) {
      flex-direction: row; /*change to column*/
    }
  }

  .linav {
    padding: 1%;
    list-style: none;
    border: solid;
    border-color: #cdc7c2;
    border-radius: 5px;
    height: 100%;
    border-width: 0.12em;
    background-color: #f4f3f2;
  }

  .anav {
    color: #000;
    text-decoration: none;
  }

  .anav:hover {
    color: grey;
  }