.photo_ascii {
    font-size: 0.1em;
    letter-spacing: 0.155em;
}
.photo_ascii:hover {
    background-image: url("../images/profile.jpg"); 
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
}