#socialmedia {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
}

.logo {
    font-size: 0.15em;
}

.alogo:link,
.alogo:visited,
.alogo:hover,
.alogo:active {
    color: #000000;
    text-decoration: none;
}

@media (max-width: 600px) {
    #socialmedia {
        grid-template-columns: 1fr;
        text-align: center;
        margin-bottom: 12%;
    }
}