.grid2col {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 3%;
}

@media (max-width: 600px) {
    .grid2col {
        margin-bottom: 12%;
    }
}

.description {
    color: rgb(102, 100, 100);
}

.flexcol {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.box {
    border: 0.05em dashed;
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

.box:hover {
    border: none;
    text-decoration: underline;
}

.skills {
    border: 1px dashed #cccccc;
    border-collapse: collapse;
}

.skillsTd {
    border: 1px dashed #cccccc;
}